@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.contenedor {
  width: 95%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 60px 0;
}

.contenedor-textos {
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

.img-logo {
  width: 100px;
}

.hero {
  height: 300px;
  background-image: url(../media/pexels-edgar-toro-6034140.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

.hero h1 {
  font-size: 3em;
  font-weight: 700;
}
.hero p {
  font-size: 21px;
  font-weight: 400;
  color: #FFFFFF;
}

.menu-navegacion {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
}

ul li {
  list-style: none;
  display: inline-block;
}
ul li::after {
  content: "|";
  margin: 1rem;
  color: rgb(252, 248, 248);
}
ul a:hover {
  color: rgb(159, 190, 247);
}
ul a {
  text-decoration: none;
  padding-left: 10px;
}

.hero h1 {
  font-size: 3em;
  font-weight: 700;
}

.hero p {
  font-size: 21px;
  font-weight: 400;
}

.col-sm-12 {
  align-items: center;
}

.contact-us {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

.titulo {
  text-align: center;
  font-size: 2em;
  color: #008080;
}

.contact-tipe {
  width: 450px;
  margin: auto;
  background: #c9d3dd;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
}

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

#boton {
  background: #428bca;
  color: #fff;
  padding: 20px;
  border: none;
}

#boton:hover {
  cursor: pointer;
}

* {
  font-family: "Lato", sans-serif;
}

.about-us {
  background-color: #212f3c;
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px;
  border: auto;
}
.about-us .about-1 {
  margin: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.about-us .about-1 h1 {
  text-align: center;
  color: #008080;
  font-weight: bold;
}
.about-us .about-1 h2 {
  text-align: center;
  color: rgb(238, 236, 236);
  font-weight: bold;
  padding: 30px;
  font-size: 20px;
}
.about-us .about-1 p {
  text-align: center;
  padding: 10px;
  color: #fff;
}
.about-us .about-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 75px auto;
  text-align: center;
  background-color: #fff;
}
.about-us .about-item i {
  font-size: 43px;
  margin: 0;
  position: static;
}
.about-us .about-item h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.about-us .about-item img {
  width: 40%;
  height: 300px;
  background-position: center;
  background-size: auto;
}

.about-item:hover {
  transform: translateY(-4px);
}

.card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0px;
  padding: 10px 10px;
  background-color: #efefef;
  border-radius: 10px;
}

body {
  background: #212F3C;
}

.post-list {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 30px 15px;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  max-width: 1000px;
  margin: auto;
}

.titulo-seccion {
  font-size: 2em;
  margin-bottom: 20px;
  color: #008080;
  padding: 30px;
  text-align: center;
}

.post-img-1 {
  background: url(./media/obra-particular.jpeg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: 0.2s;
}

.post-img-2 {
  background: url(./media/obra-estado.jpeg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: 0.2s;
}

.post-img-3 {
  background: url(./media/remodelaciones.jpeg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: 0.2s;
}

.post-img-4 {
  background: url(./media/herrería.jpeg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: 0.2s;
}

.post-img-5 {
  background: url(./media/aberturas.jpeg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: 0.2s;
}

.post-img-6 {
  background: url(./media/refacción-local-comercial.jpeg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: 0.2s;
}

.post {
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

.post:hover {
  transform: translateY(-4px);
  box-shadow: 0 1px 14px 2px rgba(0, 0, 0, 0.15);
}

.post-header {
  width: 100%;
  height: 200%;
}

.post-body {
  padding: 15px;
  text-align: center;
}

.post-body h3 {
  margin-bottom: 15px;
  color: #008080;
}

.post-body p {
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: center;
}

.clientes-datos {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.datos-tipe {
  width: 600px;
  margin: auto;
  background: #c9d3dd;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border: none;
}

/*work*/
.banner {
  margin-top: 0px;
}

.banner img {
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: auto;
}

.work {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 30px 200px;
}

.work article {
  margin: 15px;
}

.work img {
  width: 100%;
  max-width: 280px;
}

.work h3 {
  text-align: center;
  color: #008080;
}

.work h4 {
  text-align: center;
  color: #212F3C;
}

/*# sourceMappingURL=main.css.map */
