@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
.en-accion {
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 50px;
}
.en-accion article {
  margin: 15px;
}
.en-accion img {
  width: 100%;
  max-width: 400px;
  background-position: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.contenedor {
  width: 95%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 60px 0;
}

.contenedor-textos {
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

.img-logo {
  width: 100px;
}

.hero {
  height: 300px;
  background-image: url(../media/pexels-edgar-toro-6034140.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

.hero h1 {
  font-size: 3em;
  font-weight: 700;
}
.hero p {
  font-size: 21px;
  font-weight: 400;
  color: #008080;
}

.menu-navegacion {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
}

ul li {
  list-style: none;
  display: inline-block;
}
ul li::after {
  margin: 1rem;
  color: rgb(252, 248, 248);
}
ul a:hover {
  color: rgb(159, 190, 247);
}
ul a {
  text-decoration: none;
  padding-left: 10px;
  color: #FFFFFF;
}

.col-sm-12 {
  align-items: center;
}

.form-area {
  background-color: #fff;
  padding-top: 7%;
  margin-bottom: 50px;
}

.row.single-form {
  box-shadow: 0 2px 20px -5px rgba(0, 0, 0, 0.5);
}

.left {
  background: rgb(110, 110, 109);
  padding: 200px 98px;
}
.left h1 {
  font-family: "Lato", sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 48px;
}
.left span {
  font-weight: 100;
}

.single-form {
  background: #fff;
}

.right {
  padding: 70px 100px;
  position: relative;
}
.right i {
  position: absolute;
  font-size: 80px;
  left: -27px;
  top: 40%;
  color: #fff;
}
.right button {
  border: none;
  border-radius: 0;
  background: rgb(110, 110, 109);
  width: 180px;
  color: #fff;
  padding: 15px 0;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

.form-control {
  border: 2px solid #000;
}

.right button:hover {
  background-color: rgb(190, 190, 185);
}

/*responsive*/
@media (min-width: 768px) and (max-width: 991px) {
  .right i {
    top: -52px;
    transform: rotate(90deg);
    left: 50%;
  }
}
@media (max-width: 767px) {
  .left {
    padding: 90px 15px;
    text-align: center;
  }
  .left h2 {
    font-size: 25px;
  }
  .right {
    padding: 30px;
  }
  .right i {
    top: -52px;
    transform: rotate(90deg);
    left: 46%;
  }
  .right button {
    width: 150px;
    padding: 12px 0;
  }
}
* {
  font-family: "Lato", sans-serif;
}

.about-us {
  background-color: #212f3c;
  padding: 0%;
  margin: 0px;
  border: auto;
}
.about-us h1 {
  text-align: center;
  color: #008080;
  font-weight: bold;
}
.about-us h2 {
  text-align: center;
  color: rgb(238, 236, 236);
  font-weight: bold;
  padding: 30px;
  font-size: 20px;
}
.about-us p {
  text-align: center;
  padding: 10px;
  color: #fff;
}

.banner {
  margin-top: 0px;
}
.banner img {
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: auto;
}

.header {
  color: #008080;
  padding: 10px;
}

.bigicon {
  color: #36A0FF;
}

.clientes-datos {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

body {
  background: #212F3C;
}

.titulo-seccion {
  font-size: 2em;
  margin-bottom: 20px;
  color: #008080;
  padding: 30px;
  text-align: center;
}

.row:hover {
  transform: translateY(-4px);
  box-shadow: 0 1px 14px 2px rgba(0, 0, 0, 0.15);
}

.post-header {
  width: 100%;
  height: 200%;
}

.post-body {
  padding: 15px;
  text-align: center;
}

.post-body h3 {
  margin-bottom: 15px;
  color: #008080;
}

.post-body p {
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
