


@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Source+Sans+Pro&display=swap');
@import './layout/work';
@import'./abstracts/variables';
@import './base/base';
@import './layout/header';
@import './layout/footer';
@import './layout/contactanos';
@import './layout/aboutus';
@import './layout/clientes.scss';

body{
    background: $color-fondo;
}


.titulo-seccion{
    font-size: 2em;
    margin-bottom: 20px;
    color: #008080;
    padding: 30px;
    text-align: center;
}

.row:hover{
    transform: translateY(-4px);
    box-shadow: 0 1px 14px 2px rgba(0, 0, 0, .15);
}

.post-header{
    width: 100%;
    height: 200%;
}

.post-body{
    padding: 15px;
    text-align: center;
}

.post-body h3{
    margin-bottom: 15px;
    color: #008080;
}

.post-body p{
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: center;
}





