.contenedor{
    width: 95%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: $paddingsecciones;

    .contenedor-textos{
        padding: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $color-textos;
    }
    .menu-navegacion{
        padding:0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 110px;
    }
    
    .img-logo{
        width: 100px;
    }
    ul{
        li{
            list-style: none;
            display: inline-block;
        }
        li::after{
            content: "|";
            margin: 1rem;
            color: rgb(252, 248, 248);
        }
        a:hover{
            color:rgb(142, 178, 243)
        }
        a{
            text-decoration: none;
            padding-left: 10px;
        }
    }
    .hero{
        height: 300px;
        background-image: url(../media/pexels-edgar-toro-6034140.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        text-align: center;
    }
        
    .hero{ 
        h1{
            font-size: 3em;
            font-weight: 700;
        }
        
        p{
            font-size: 21px;
            font-weight: 400;
        }
    }
}


.hero{
    height: 300px;
    background-image: url(../media/pexels-edgar-toro-6034140.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.hero h1{
    font-size: 3em;
    font-weight: 700;
}

.hero p{
    font-size: 21px;
    font-weight: 400;
}