
.en-accion{
    background-color: #ffff;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    padding: 30px 50px;
    article{
        margin: 15px; 
    }
    img{
        width: 100%;
        max-width: 400px;
        background-position: center;
    }
}

