.header {
    color: #008080;
    padding: 10px;
}

.bigicon {
    color: #36A0FF;
}

.clientes-datos{
    background-color: #ffff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
